{% extends "base.html" %}
{% load static %}

{% block title %}Data on toponym {{ aggregated_aliases.placename_standardizeds.0 }} - La Sfera{% endblock title %}

{% block content %}
    <div class="mx-auto container pt-3">
        <p class="pb-2">&larr; <a class="underline hover:no-underline" href="{% url 'toponyms' %}">Return to gazetteer</a>.</p>
        <h3 class="text-4xl pb-3 font-bold" id="text">
            <span class="border-b border-red-700 font-normal">{{ aggregated_aliases.placename_standardizeds.0 }}</span>
        </h3>

        <section id="manuscript" class="flex flex-col md:flex-row w-full p-4 mb-10">
            <div class="flex flex-col md:flex-row w-full p-2 gap-x-1">
        {# Left column: display toponym details #}
                <div class="lg:w-1/2 p-4">

                {# display the location aliases if any #}
                    {% if aliases %}
                        <div class="aliases mb-4">
                            <h4>Some of the variant spellings for <strong><span class="border-b border-red-700">{{ aggregated_aliases.placename_standardizeds.0 }}</span></strong> that appear in <em>Sfera</em> manuscripts are:</h4>
                            {% if aggregated_aliases.placename_aliases %}
                                <ul class="flex flex-wrap gap-2">
                                    {% for place_alias in aggregated_aliases.placename_aliases %}
                                        <li class="font-medium text-black px-2">
                                            <span class="border-b border-red-700">{{ place_alias }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <ul class="list-disc ml-4 mt-6 mb-6">

                                {# display the lat/lon data #}
                                <li><strong>Latitude</strong>: {{ toponym.latitude }}</li>
                                <li><strong>Longitude</strong>: {{ toponym.longitude }}</li>
                                {% if aggregated_aliases.placename_from_msss %}
                                    <li><strong>Place name from manuscript</strong>:
                                        {% for from_mss in aggregated_aliases.placename_from_msss %}
                                            <span class="inline-flex items-center font-medium text-black border-b border-red-700">
                                                {{ from_mss }}
                                            </span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if aggregated_aliases.placename_standardizeds %}
                                    <li><strong>Modern name</strong>:
                                        {% for modern in aggregated_aliases.placename_moderns %}
                                            <span class="inline-flex items-center font-medium text-black border-b border-red-700">
                                                {{ modern }}
                                            </span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if aggregated_aliases.placename_standardizeds %}
                                    <li><strong>Standardized name</strong>:
                                        {% for standardized in aggregated_aliases.placename_standardizeds %}
                                            <span class="inline-flex items-center font-medium text-black border-b border-red-700">
                                                {{ standardized }}
                                            </span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if aggregated_aliases.placename_ancients %}
                                    <li><strong>Ancient name</strong>:
                                        {% for ancient_name in aggregated_aliases.placename_ancients %}
                                            <span class="inline-flex items-center font-medium text-black border-b border-red-700 ml-2">
                                                {{ ancient_name }}
                                            </span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            </ul>
                            {% if toponym.authority_file %}
                                <p><strong>Authority file</strong>: <a class="underline hover:no-underline" href="{{ toponym.authority_file }}">{{ toponym.authority_file }}</a></p>
                            {% endif %}
                        </div>
                    {% else %}
                        <p class="pb-2">There are no aliases associated with this toponym.</p>
                    {% endif %}

                {# Line codes for the toponym #}
                {# we list all of the line_code values #}
                {# Line codes for the toponym #}
                    <div class="flex-auto mb-2 bg-gray-50 p-2 m-2">
                        <h4 class="text-lg">The toponym <strong><span class="border-b border-red-700">{{ aggregated_aliases.placename_standardizeds.0 }}</span></strong> is mentioned in the text of <em>La Sfera</em> here:</h4>

                        <table class="table-auto">
                            <thead>
                                <tr>
                                    <th class="px-4 py-2">Line Code</th>
                                    <th class="px-4 py-2">Manuscript</th>
                                    <th class="px-4 py-2">Folio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for line_code in line_codes %}
                                    <tr>
                                        <td class="border px-4 py-2">
                                            <a class="underline hover:no-underline" href="{% url 'stanzas' %}#{{ line_code.line_code }}">{{ line_code.line_code }}</a>
                                        </td>
                                        <td class="border px-4 py-2">
                                            {% if line_code.manuscript != "No manuscript assigned." and line_code.manuscript %}
                                                <a class="underline hover:no-underline" href="/manuscripts/{{ line_code.manuscript }}">{{ line_code.manuscript }}</a>
                                            {% else %}
                                                {{ line_code.manuscript }}
                                            {% endif %}
                                        </td>
                                        <td class="border px-4 py-2">
                                            {{ line_code.folio }}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3" class="border px-4 py-2">
                                            <span class="prose">No line codes available for this toponym.</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <p class="pt-2 pb-2">The toponym <strong><span class="border-b border-red-700">{{ aggregated_aliases.placename_standardizeds.0 }}</span></strong> appears on at least one map in the following manuscripts:</p>
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Siglum</th>
                                <th class="px-4 py-2">Shelfmark</th>
                                <th class="px-4 py-2">Library</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for manuscript in manuscripts %}
                                <tr>
                                    <td class="border px-4 py-2"><a class="underline hover:no-underline" href="/manuscripts/{{ manuscript.siglum }}">{{ manuscript.siglum }}</a></td>

                                    <td class="border px-4 py-2">{{ manuscript.shelfmark }}</td>
                                    <td class="border px-4 py-2">{{ manuscript.library }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td class="border px-4 py-2" colspan="4">No manuscripts available for this toponym.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> {# end: left column #}

        {# Right column #}
                <div class="lg:w-1/2 p-4 space-y-4">
            {# Map content #}
                    <div class="flex-auto mb-2">
                        <div id="map" style="height: 255px; width: 500px;">Map of the location {{ toponym }}</div>
                    </div>

            {# IIIF content #}
                    <div class="flex-auto">
                        <h4 class="text-lg">IIIF Viewer:</h4>
                        <ul class="list-disc ml-4">
                            {% for iiif_url in iiif_urls %}
                                <ul>
                                    {% for iiif_url in iiif_urls %}
                                        <li><a class="underline hover:no-underline" href="#" data-iiif-url="{{ iiif_url.iiif_url }}" data-manuscript="{{ iiif_url.manuscript }}" data-folio-number="{{ iiif_url.folio_number}}" onclick="openMiradorModal(this)">IIIF viewer for manuscript {{ iiif_url.manuscript }}</a></li>
                                    {% endfor %}
                                </ul>

                        {# Modal Structure  #}
                                <div id="miradorModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden z-50">
                                    <div class="relative top-20 mx-auto p-5 border w-11/12 md:w-2/3 shadow-lg rounded-md bg-white z-50">
                                        <div id="miradorViewer" style="height: 600px;"></div>
                                        <div class="absolute bottom-4 right-4 z-50">
                                            <button class="text-white hover:bg-red-700 bg-red-500 p-2 rounded" onclick="closeMiradorModal()">Close viewer</button>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <li>No IIIF URLs available for this toponym.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>{# end: right column #}
            </div>
        </section>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
    <script>
        fetch('/api/toponyms/{{ toponym.id }}')
            .then(response => response.json())
            .then(data => {
                const latitude = data.latitude;
                const longitude = data.longitude;

            // Initialize the map on the "map" div with a given center and zoom
                let map = L.map('map').setView([latitude, longitude], 6);

            // Add an OpenStreetMap tile layer
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
                    maxZoom: 18,
                }).addTo(map);

            // Add a marker at the given location
                let marker = L.marker([latitude, longitude]).addTo(map);

            })
            .catch(error => console.error('Error fetching toponym data:', error));

            // Handle the mirador viewer
        function openMiradorModal(element) {
            const iiifUrl = element.getAttribute('data-iiif-url');
            const manuscript = element.getAttribute('data-manuscript');
            const folio_number = element.getAttribute('data-folio-number');

            // Initialize Mirador
            Mirador.viewer({
                id: 'miradorViewer',
                windows: [{
                    manifestId: iiifUrl,
                    canvasIndex: folio_number
                }]
            });

            // Display the modal
            document.getElementById('miradorModal').classList.remove('hidden');
            // Turn off the map 
            document.getElementById('map').style.display = 'none';
        }

        function closeMiradorModal() {
            // Hide the modal
            document.getElementById('miradorModal').classList.add('hidden');
            // Clear the Mirador viewer content
            document.getElementById('miradorViewer').innerHTML = '';
            // Turn on the map 
            document.getElementById('map').style.display = 'block';
        }
    </script>
{% endblock scripts %}
