<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mirador Viewer</title>
        <script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
        <style>
            body, html { margin: 0; padding: 0; height: 100%; }
            #mirador { width: 100%; height: 100%; }
        </style>
    </head>
    <body>
        <div id="mirador"></div>
        <script>
            let miradorInstance = Mirador.viewer({
                id: "mirador",
                windows: [{
                    manifestId: "{{ manifest_url }}",
                    canvasId: "{{ canvas_id }}",
                    allowClose: false,
                    allowMaximize: false,
                    sideBarOpenByDefault: false,
                    thumbnailNavigationPosition: false,
                    view: "page",
                }],
                window: {
                    allowFullscreen: false,
                    hideWindowTitle: true,
                    sideBarOpen: false,
                    panels: {
                        info: false,
                        attribution: false,
                        canvas: false,
                        annotations: true,
                        search: false
                    }
                },
                workspace: {
                    showZoomControls: true,
                },
                workspaceControlPanel: {
                    enabled: false,
                },
                requestDelegate: {
                    fetchHeaders: {
                        'Access-Control-Allow-Origin': '*'
                    },
                    crossOriginPolicy: 'Anonymous'
                },
                osdConfig: {
                    crossOriginPolicy: 'Anonymous'
                }
            });
        </script>
    </body>
</html>

