{% extends "base.html" %}
{% load static %}
{% load random_image_from_directory %}

{% block title %}
    Home -  La Sfera
{% endblock title %}

{% block home %}
    <div class="w-full p-2 md:p-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-1">
        {# First row: 3 images #}
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>

        {# Second row: 2/3 text box, 1/3 image #}
            <a href="/about/" class="block col-span-2 bg-lasfera-gray hover:bg-lasfera-darker-gray text-white p-4 h-40 transform transition-transform duration-300 hover:scale-105 hover:z-10">
                <div>
                    <h2 class="text-3xl font-bold font-serif">Welcome to La Sfera</h2>
                    <p class="mt-2">Learn more about Dati's <em>La sfera</em>, the project, and the project team.</p>
                </div>
            </a>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>

            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>

        {# Third row: 1/3 image, 2/3 text box #}
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <a href="/stanzas/" class="block col-span-2 bg-lasfera-gray hover:bg-lasfera-darker-gray text-white p-4 h-40 transform transition-transform duration-300 hover:scale-105 hover:z-10">
                <div>
                    <h2 class="text-3xl font-bold font-serif">Edition</h2>
                    <p class="mt-2">Read the Italian text, English translation, and view a selection of corresponding manuscript images.</p>
                </div>
            </a>

            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>

        {# Fourth row: 2/3 text box, 1/3 image #}
            <a href="/toponyms/" class="block col-span-2 bg-lasfera-gray hover:bg-lasfera-darker-gray text-white p-4 h-40 transform transition-transform duration-300 hover:scale-105 hover:z-10">
                <div>
                    <h2 class="text-3xl font-bold font-serif">Gazetteer</h2>
                    <p class="mt-2">Explore the hundreds of place names and variations incorporated into the lines of the poem and labeled on the marginal maps found in many of <em>La sfera</em>'s early print and manuscript copies.</p>
                </div>
            </a>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>

            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
         {# Ffith row: 2/3 text box, 1/3 image #}
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <a href="/manuscripts/" class="block col-span-2 bg-lasfera-gray hover:bg-lasfera-darker-gray text-white p-4 h-40 transform transition-transform duration-300 hover:scale-105 hover:z-10">
                <div>
                    <h2 class="text-3xl font-bold font-serif">Manuscript Tradition</h2>
                    <p class="mt-2">How are the manuscripts and early print versions related to each other? Consult our list of pre-1600 copies of <em>La sfera</em> and see how they compare. </p>
                </div>
            </a>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
        {# Sixth row: 2/3 text box, 1/3 image #}
            <a href="/resources/data/" class="block col-span-2 bg-lasfera-gray hover:bg-lasfera-darker-gray text-white p-4 h-40 transform transition-transform duration-300 hover:scale-105 hover:z-10">
                <div>
                    <h2 class="text-3xl font-bold font-serif">Resources</h2>
                    <p class="mt-2">Become one of the sferisti and join our work! Download our data and use it for your own research, or transcribe your own copy of <em>La sfera</em>. Then send us what you find!</p>
                </div>
            </a>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
            <div class="relative col-span-1 group">
                <img src="{{ 'images/home/'|random_image_from_directory }}" alt="Image 1" class="w-full h-40 md:h-40 object-cover">
                <div class="absolute inset-0 bg-slate-800 bg-opacity-70 group-hover:bg-opacity-0 transition duration-300"></div>
            </div>
        </div>
    </div>
{% endblock home %}
